{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

  <h1 class="text-center">{{controller_name}}</h1>

  <div class="container mx-auto mt-4">
    <div class="row">
    {% for produits in produits %}
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="uploads/{{produits.Picture}}" class="card-img-top" alt="...">
          
          <div class="card-body">
            <h5 class="card-title">{{produits.nom}}</h5>
            <p class="card-text">{{produits.prix}}</p>
              <a href="#" class="btn mr-2 button"><i class="fas fa-link"></i> Visit Site</a>
            <a href="https://github.com/Minicoks" target="_blank" class="btn button"><i class="fab fa-github"></i> Github</a>
          </div>
        </div>
      </div> 
    {% endfor %}
    </div> 
  </div> 

{% endblock %}
