{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}

    {% if error %}
        <div class="alert alert-danger text-center container" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post" class="text-center container">
        <label for="username">Email:</label>
        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"/>

        <br>
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control" name="_password"/>

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

        <br>
        <br>

        <button type="submit">login</button>
    </form>
{% endblock %}